.tag-a {
  line-height: 2;
  padding: 3px;

  border-bottom: 3px solid var(--heo-main);
  border-radius: 3px;
  &:hover {
    background-color: var(--heo-main);
    color: white;
  }
}

.tag-code {
  // color: #79ffe1;
  color: #f47466;
  background: rgba(27, 31, 35);
  border-radius: 2px;
  font-size: 0.9em;
  white-space: pre-wrap;
  border-radius: 3px;
  margin: 0 5px;
  &::before,
  &::after {
    content: '`';
  }
}

.tag-blockquote {
  border-left: 0.3rem solid var(--heo-main);
  background-color: rgb(236, 247, 254);
  color: #363636 !important;
  padding: 0.2rem;
  padding-left: 1rem;
  margin: 1rem 0;
}

.tag-ul {
  padding: 0 0 0 0.5rem;
  color: inherit;
  li {
    cursor: pointer;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: 2px;
      vertical-align: top;
      content: '';
      width: 5px;
      height: 5px;
      border: 5px solid var(--btn-bg);
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    &:hover {
      &::before {
        border-color: #f47466;
      }
    }
  }
}

.tag-img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 300px;
  // object-fit: contain;
  object-position: center top;
  border-radius: 10px;
  margin: 1rem 0;
}
.tag-h1 {
  // 防止锚点置顶 bug修复
  /*
  margin-top 负值，元素向上移动
  margin-bottom 负值，下方元素向上移动
  margin-left 负值，元素向左移动
  margin-right 负值，右侧元素向左移动
  */
  margin-top: -3.1rem;
  padding-top: 4.6rem;
  margin-bottom: 1.3rem;
}
