@mixin box-show {
  transition: all 0.5s ease;
  box-shadow: var(--box-shadow);
  background-color: var(--card-box-bg);
  &:hover {
    box-shadow: var(--box-hover-shadow);
    margin-top: -4px;
  }
  @content;
}

@mixin global-wrapper {
  width: 60%;
  height: inherit;
  margin: 0 auto;
  margin-top: 20px;
  @media screen and (max-width: 650px) {
    width: 85vw;
  }
}
