.logo {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    border-radius: 50%;
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin-left: 5px;
  }
}

.navbar-search-box {
  height: 100%;
  > input {
    width: 0;
    height: inherit;
    border-radius: 8px;
    padding-left: 2rem;
    color: initial;
    border: 1px solid var(--nav-search-border);
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.5s ease;
    caret-color: rgba(0, 173, 181);
    &:focus {
      box-shadow: 0 0 4px inset pink;
      width: 12rem;
    }
  }
}

.navbar-link {
  &-items {
    display: inline-flex;
    height: 100%;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    @media only screen and(max-width:650px) {
      // display: none;
      position: fixed;
      height: 100%;
      top: 3.2rem;
      left: -100%;
      min-width: 14rem;
      flex-direction: column;
      box-shadow: 0px 6px 12px -4px rgba(0, 173, 181, 0.8);
      align-items: flex-start;
      padding: 13px 10px;

      overflow: hidden;
      transition: left 0.45s ease-in-out;
      background-color: var(--card-box-bg);
      &.show-sidebar {
        left: 0;
      }
    }
  }
  &-item {
    margin-left: 1.3rem;
    cursor: pointer;
    position: relative;

    > svg {
      margin-right: 5px;
      vertical-align: middle;
    }
    > span {
      white-space: nowrap;
    }

    .arrow {
      margin-left: 10px;
      transition: all 0.2s;
      background-color: var(--text-highlight-color);
    }
    @media only screen and(max-width:650px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .arrow {
        transform: rotate(-90deg);
        &.down-arrow {
          transform: rotate(0);
        }
      }
    }
    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      padding-top: 0.6rem;
      right: -10%;
      min-width: 100%;
      box-sizing: border-box;
      font-weight: 700;
      background-origin: padding-box;

      ul {
        border-radius: 4px;
        overflow: hidden;
        background-color: var(--card-box-bg);
        box-shadow: 0 0 2px rgba(0, 173, 181, 0.8);
        li {
          white-space: nowrap;
          padding: 10px 20px;
          &:hover {
            background-color: var(--btn-bg);
          }
          &:not(:last-child) {
            padding-bottom: 15px;
          }
        }
      }

      @media screen and(max-width:650px) {
        position: static;
        &.openMenu {
          display: block !important;
        }
        ul {
          box-shadow: none;
          // padding: 10px;
        }
      }
    }
  }
}

.navbar-search-box {
  position: relative;
  svg {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
