.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/blog_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motto {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.7rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 700;
    color: aqua;
  }
}
