@import '../../styles/mixin/box-show.scss';
.category-wrapper {
  > ul {
    display: flex;
    flex-wrap: wrap;
    > li {
      cursor: pointer;
      margin-bottom: 0.4rem;
      margin-right: 0.4rem;
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      @include box-show {
        background-color: #181818;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(-1px);
      }
      &.category-active {
        background-color: #f8e71c;
      }
      .category-name {
        margin-right: 0.5rem;
      }

      .post-num {
        width: 1.6rem;
        height: 1.6rem;
        text-align: center;
        line-height: 1.6rem;
        border-radius: 0.25rem;
        background: #eee;
        font-size: 13px;
        color: #fff;
        background-color: rgb(225, 91, 100);
      }
    }
  }
}
