.layout-container {
  padding-top: 3.6rem;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;

  // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
