@import '../../styles/mixin/box-show.scss';

.layout-container {
  padding-top: 3rem;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;

  // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.home-blog-wrapper {
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 650px) {
    width: 85vw;
    flex-direction: column;
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }
}

.blog-list {
  width: 100%;
}

.info-wrapper {
  flex-basis: 320px;
  margin-left: 10px;
  padding: 2rem 15px 1rem;
  align-self: flex-start;
  border-radius: 10px;
  @include box-show;
}
