.de-pre {
  margin: 1em 0;
  display: inline-block;
  background-color: #eff0f1;

  border-radius: 4px;

  font-size: 14px;
  // margin-bottom: 4.1rem;
  padding: 2rem 0.5rem 0.8rem 0.4rem;
  max-width: 100%;
  overflow-x: auto;
  // padding: 2rem 0 0 0;
  border-radius: 12px;
  // overflow: hidden;
  background-image: url('/dot.png');
  background-repeat: no-repeat;
  background-size: 44px 10px;
  background-position: 16px 14px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.line {
  display: table-row;
}

.line-no {
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.line-content {
  display: table-cell;
}
