@import '../mixin/global-mixin.scss';

.archives-wrapper {
  height: 100%;
  flex: auto;
  box-sizing: border-box;
  background-color: rgb(191, 118, 118);
  @include box-show;
  border-radius: 15px;
  padding: 2.2rem;
  margin-bottom: 20px;
  position: relative;
  &::before {
    top: 8%;
    position: absolute;
    content: '';
    height: 85%;
    width: 1px;
    background-color: #aadafa;
  }
  > div {
    margin-left: 20px;
    &.notes-sort-title {
      font-size: 30px;
      font-weight: 400 !important;
      margin-bottom: 20px;
      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border: 5px solid #49b1f5;
        border-radius: 50%;
        background-color: var(--card-box-bg);
        left: 1.6rem;
        top: 3rem;
      }
    }
  }
  // border-left: 2px solid #aadafa;
}
