@import '../mixin/global-mixin.scss';

.notes-wrapper {
  min-height: 100vh;
  flex: auto;
  background-color: white;
  @include box-show;
  border-radius: 15px;
  padding: 20px 15px;
  margin-bottom: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: wrap;
  > .content {
    margin-bottom: 1rem;
    hr {
      border: 0;
      border-top: 1px solid #ccc;
      margin: 20px 0;
    }
    > h2 {
      font-weight: normal;
      font-size: 2.5em;
      line-height: 1.5;
      -webkit-line-clamp: 2;
      text-align: center;
      word-break: break-all;
      word-wrap: break-word;
      display: -webkit-box;

      text-overflow: ellipsis;
    }
    > .post-meta {
      padding-left: 2rem;
      @media screen and (max-width: 650px) {
        padding-left: 0;
      }
      > span {
        & + span {
          margin-left: 10px;
        }
        svg {
          vertical-align: bottom;
          margin-right: 5px;
        }
      }
    }
  }
}

.catalog-box {
  position: fixed;
  top: 4rem;
  ol {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;

    li {
      width: 100%;
      padding: 0 10px;

      a {
        display: block;
        height: inherit;
        line-height: 2.5rem;
        padding: 0 10px;
        &:not(&.active):hover {
          color: aqua;
        }
        &.active {
          background-color: var(--btn-bg);
        }

        // color: var(--btn-bg);
      }
    }
  }
}
