.category-weapper {
  width: 60%;
  height: inherit;
  margin: 0 auto;
  margin-top: 20px;
  @media screen and (max-width: 650px) {
    width: 85vw;
  }

  > .category-top {
    height: auto;
    margin-bottom: 20px;
  }
}
