@import '../mixin/box-show.scss';

.home-blog-wrapper {
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  position: static;
  top: 70px;
  @media screen and (max-width: 650px) {
    width: 85vw;
    flex-direction: column;
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }
}

.blog-list {
  width: 100%;
}

.info-wrapper {
  flex-basis: 320px;
  margin-left: 10px;
  padding: 2rem 15px 1rem;
  height: auto;
  @include box-show;
}
.abstract-wrapper {
  width: 100%;
}
